body {
  background: #fff;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
  /* 濡傛灉闇€瑕佺殑璇� */
}

.first {
  height: 8.12rem;
  width: 19rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background: url("../imgs/bg-1.png") no-repeat;
  background-size: 100% 100%;
}

.first>.row_1 {
  height: 1.4rem;
  width: 100%;
  padding-top: 0.37rem;
  align-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first>.row_1>.logo {
  height: 1.4rem;
  width: 1.37rem;
  margin-left: 1.42rem;
}

.first>.row_1>.menus {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  margin-right: 2rem;
}

.first>.row_1>.menus>.menu {
  font-size: 0.2rem;
  font-weight: bold;
  color: #140C0C;
  cursor: pointer;
}

.first>.row_1>.menus>.menu:hover {
  transform: scale(1.1);
  border-bottom: 0.03rem solid #6b6a77;
}

.first>.row_2 {
  height: 3.79rem;
  width: 14.52rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: 1.42rem;

}

.first>.row_2>.r2_box {
  width: 12.12rem;
  height: 4.38rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.first>.row_2>.r2_box>.text1 {
  width: 11.38rem;
  height: 1.7rem;
}

.first>.row_2>.r2_box>.btn1 {
  margin-top: 1.38rem;
  height: 0.53rem;
  width: 2.15rem;
  cursor: pointer;
}

.first>.row_2>.r2_box>.btn1:hover {
  box-shadow: 0 0 0.1rem #6b6a77;
}

.second {
  height: 8.12rem;
  width: 19rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  height: 6.73rem;
  background: #f6f6f6;
}

.second>.s_row_1 {
  height: 5.21rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.second>.s_row_1>.subtitle1 {
  width: 3.44rem;
  height: 0.853rem;
  margin-left: 1.42rem;

}

.second>.s_row_1>.text2 {
  width: 7.97rem;
  height: 3.67rem;
  margin-left: 2rem;
}

.third {
  height: 13.6rem;
  width: 19rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background: #f8f7f9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.third>.t_row1 {
  width: 100%;
  height: 0.67rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.45rem;

}

.third>.t_row1>.subtitle2 {
  width: 2.04rem;
  height: 0.445rem;
}

.third>.t_row2 {
  width: 14.4rem;
  height: calc(100% - 1.4rem);
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;


}

.third>.t_row2>.item {
  width: 18%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: 3.3rem;
  background: #6b6a77;
  border-radius: 0.08rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.45rem;
}

.third>.t_row2>.item:hover {
  box-shadow: 0 0 0.08rem 0 #6b6a77;
  transform: scale(1.05);
}

.third>.t_row2>.item>.item_box {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.third>.t_row2>.item>.item_box>.item_img {
  width: 0.82rem;
  height: 0.82rem;
  border-radius: 0.06rem;
}

.third>.t_row2>.item>.item_box>.item_name {
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
  margin-top: 0.12rem;
  margin-bottom: 0.12rem;
}

.third>.t_row2>.item>.item_box>.item_text {
  font-size: 0.16rem;
  color: #fff;
  text-align: left;
  line-height: 0.28rem;
  font-weight: 400;
}

.bottom {
  width: 19rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 0.05rem;
  border-bottom: 0.01rem solid #3A384F;
  border-top: 0.01rem solid #3A384F;
  height: 5.4rem;
  background: #f8f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bottom>.b_logo {
  width: 1.72rem;
  height: 1.72rem;
  position: absolute;
  left: 1.31rem;
  top: 0.84rem;
}

.bottom>.info {
  height: auto;
  width: 7.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  left: 4.37rem;
  top: 0.57rem;
}

.bottom>.info>.i_title {
  font-size: 0.24rem;
  font-weight: bold;
  color: #000;
}

.bottom>.info>.desc1 {
  font-size: 0.24rem;
  color: #000;
  margin-top: 0.4rem;
  text-align: left;
  line-height: 0.35rem;
}

.bottom>.info>.desc2 {
  font-size: 0.24rem;
  font-weight: 500;
  color: #000;
  margin-top: 0.4rem;
  text-align: left;
  line-height: 0.35rem;
}

.bottom>.form_box {
  width: 6.4rem;
  height: 0.95rem;
  position: absolute;
  right: 0.64rem;
  top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bottom>.form_box>img {
  height: 0.55rem;
  width: 0.55rem;
  cursor: pointer;
  margin-left: 0.54rem;
}

.bottom>.form_box>input {
  height: 0.85rem;
  width: 4.05rem;
  border: 0.01rem solid #9D9D9D;
  border-radius: 0.06rem;
  font-size: 0.24rem;
  color: #000;
  padding-left: 0.2rem;

}

.bottom>.form_box>input::placeholder {
  color: #d9d9d9;
  font-size: 0.24rem;
  padding-left: 0.3rem;
}
